/* phone screen */
@media only screen and (max-width: 640px) {
  .barrow,
  .farrow {
    display: none;
  }

  .address {
    text-align: center;
    margin-top: 50px;
  }

  .col-lg-5 {
    padding-top: 50px;
  }

  .split {
    width: 100%;
    position: static;
  }

  .left {
    padding-bottom: 100px;
  }

  .right {
    padding-bottom: 100px;
  }
}

/* tablet screen */
@media only screen and (min-width: 641px) and (max-width: 1025px) {
  .card-body {
    font-size: 12px;
  }
  .barrow {
    top: 50%;
    height: 20px;
  }

  .farrow {
    right: 0%;
    top: 50%;
  }

  .split {
    width: 100%;
    position: static;
  }

  .left {
    padding-bottom: 100px;
  }

  .right {
    padding-bottom: 100px;
  }
}

/* desktop screen */
@media only screen and (min-width: 1026px) {
}
