/* random comment */
* {
  color: #ffffff;
}

body {
  background: #253551;
  font-family: "Open Sans", arial, sans-serif;
  font-size: 100%;
}

header {
  overflow: hidden;
  background-color: #ffffff;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 30px;
  text-decoration: none;
}

.logo {
  height: 60px;
}

.header a:hover {
  text-decoration: underline;
}

.header a.active {
  font-weight: bold;
}

.header-right {
  float: right;
  color: black;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}

.breadcrumb {
  margin-left: 30px;
  margin-top: 10px;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #f4ac45;
}

b:hover {
  color: #f4ac45;
}

.question {
  text-align: center;
}

#map {
  text-align: center;
  color: #f4ac45;
}

#map > p {
  text-align: center;
  color: #f4ac45;
}

#map > p > img {
  border-radius: 0px;
}

.barrow {
  position: absolute;
  top: 75%;
  padding-left: 30px;
}

.farrow {
  position: absolute;
  right: 0%;
  top: 75%;
  transform: rotate(180deg);
  padding-left: 30px;
}

.card {
  border-radius: 10px;
  background-color: none;
  box-shadow: 5px 8px 5px rgba(0, 0, 0, 0.3);
}

img {
  border-radius: 10px 10px 0px 0px;
}

.card-body {
  background-color: #000000;
  border-radius: 0px 0px 10px 10px;
  height: 100px;
}

.card-text {
  padding: 10px 5px;
}

.col {
  text-align: center;
}

button {
  width: 200px;
}

.centered2 > a {
  text-decoration: none;
}

.centered2 > a > img {
  border-radius: 0px;
}

.text-end > button {
  width: 100px;
}

a {
  text-decoration: none;
  color: #253551;
}

#show {
  background: #253551;
  color: #ffffff !important;
}

.address {
  text-align: center;
  margin-top: 100px;
}

.address > a {
  color: #f4ac45;
}

.address > button {
  background-color: #f4ac45;
}

.address > a > img {
  border-radius: 0px;
}

.address > form {
  margin: auto;
}

form > img {
  position: relative;
  bottom: 40px;
  float: right;
  margin: 10px;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 20;
  overflow-x: hidden;
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
}

.left {
  left: 0;
}

.right {
  right: 0;
  background-color: white;
}

.blue {
  color: #253551;
}

.cost-descript {
  color: #f4ac45;
  font-weight: bold;
  font-size: 20px;
}

.info-box {
  padding: 20px;
}

.website-button {
  background-color: #f4ac45;
  color: black;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
}

.rating {
  padding-bottom: 10px;
}

.orange-text {
  color: #f4ac45;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
}

.hours-info {
  padding-top: 20px;
  padding-bottom: 20px;
}

.hours-text {
  line-height: 10px;
  font-size: 20px;
}

.service-tag {
  background-color: #f4ac45;
  color: black;
  font-weight: bold;
  border-radius: 10px;
  padding: 5px;
}

.photo-section {
  padding: 20px;
}
